# Machine Learning Models
scikit-learn==1.2.2
xgboost==1.6.1
pandas==2.1.1
numpy==1.25.0
statsmodels==0.14.0

# Data Handling & Analysis
matplotlib==3.8.0
seaborn==0.12.2

# API Integration & Backend
Flask==2.2.5
flask-cors==3.0.10
requests==2.31.0
osrm==0.7.1  # For real-time routing with OSRM API

# Anomaly Detection
isolation-forest==0.1.6

# MongoDB Integration
pymongo==4.5.0
dnspython==2.3.1

# Miscellaneous
joblib==1.4.2
dotenv==1.0.0  # For environment variable handling
